
<div class="block-flat" ng-repeat="n in vm.contents">
    <div class="header">
        <h4>{{n.title}}</h4>
    </div>
    <div class="content">
        <p>{{n.content}}</p>
    </div>
    <div class="footer"><span>{{n.category}} </span><span><i class="fa fa-calendar"></i> {{n.createdTime}}</span></div>
</div>