@using  WebInfo.Models.Domain;
@model Category[]

<div class="paad sidebar">
    <div class="widget">
        @foreach (Category menu in Model) { 
        <h4 class="matopen">@menu.Name</h4>
        <div class="matter">
            <ul>
                @foreach (Category smenu in menu.Subcategories) {
                    <li><a href="#">Ghbvth</a></li>
                }
            </ul>
        </div>
        }
    </div>
</div>
