@using WebInfo.Models.Shell;
@model Sidebar[]

@foreach (Sidebar sb in Model) {
    <div class="paad sidebar">
        <div class="widget">
            @foreach (Menu menu in sb.Menus)
            { 
            <h4 class="matopen"><a ui-sref="@menu.State">@menu.Name</a></h4>
            <div class="matter">
                <ul>
                    @foreach (Submenu smenu in menu.Submenus) {
                        <li><a ui-sref="@smenu.State">@smenu.Name</a></li>
                    }
                </ul>
            </div>
            }
        </div>
    </div>
}