<div class="paad sidebar">
    <div class="widget">
        <h4 class="matopen">Заголовок</h4>
        <div class="matter">
            <ul>
                <li><a href="#">меню</a></li>
                <li><a href="#">меню</a></li>
            </ul>
        </div>
    </div>
</div>
